:root {
    --red : rgb(255, 0 ,0);
    --white : rgb(255,255,255);
    --black : rgb( 0, 0, 0);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--black);
    color: white;
    /*min-height: 1000px;*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 7%;
    background-color: var(--black);
    border-bottom: 1px solid rgba(255, 255, 255);
    position: fixed;
    top : 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.navbar .navbar-logo span {
    color: var(--red);
}


.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--red); 
    transition: 0.25s;  
}

.navbar .navbar-order a {
    color: white;
    padding: 1rem 3rem;
    background-color: var(--red);
    border-radius: 10px;
   
}



#hamburger-menu{
    display: none;
    padding: 1rem;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.home .content {
    padding: 1.3rem 7%;
    max-width: 60rem;
}

.home .content h1 {
    font-size: 3.5rem ;
    color: var(--black);
    text-shadow: 1px 1px 3px var(--white);
    line-height: 1.25;
}

.home .content h1 span {
    color: var(--red);
}

.home .content p {
    color: var(--black);
    font-size: 1.25rem ;
    margin-top: 1rem;
    line-height: 1.25;
    text-shadow: 1px 1px 3px var(--white);
}


.home .content .navbar-order {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    color: var(--white);
    background-color: var(--red);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--black);
}




/* media queries*/

@media (max-width : 1366px){
    html {
        font-size: 75%;
    }
}

@media (max-width : 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--white);
        width: 20rem;
        height: 100vh;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.25rem;
        
    }
}

@media (max-width : 450px) {
    html {
        font-size: 55%;
    }
}

